<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hww.es.mapper.QueryParamRemoveMapper" >

	<resultMap id="BaseResultMap" type="EsNewsQueryParamRemove" >
	    <id column="id" property="id" />
	    <result column="news_id" property="newsId" />
	    <result column="news_query_param_id" property="newsQueryParamId" />
	    <result column="company_id" property="companyId" />
	</resultMap>
  
	<insert id="insert" parameterType="EsNewsQueryParamRemove" >
		insert into es_news_query_param_remove (
			news_id, 
			news_query_param_id, 
			company_id)
    	values (
    		#{newsId}, 
    		#{newsQueryParamId}, 
      		#{companyId})
	</insert>

	<delete id="deleteByQueryParamId" parameterType="Long">
		delete from es_news_query_param_remove where news_query_param_id = #{id}
	</delete>
	
	<!-- <delete id="deleteByUserId" parameterType="Long">
		delete from es_news_query_param_remove where company_id = #{id}
	</delete> -->

	<select id="selectListByQueryParamId" parameterType="Long" resultType="String">
		select
			news_id
		from
			es_news_query_param_remove where news_query_param_id = #{id}
	</select>


</mapper>