<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hww.es.mapper.UcenterUserMapper" >
  <resultMap id="BaseResultMap" type="com.hww.es.pojo.ucenter.UcenterUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="UCenterUserDTO" type="UCenterUserDTO" >
	    <id column="id" property="id" />
	    <result column="user_name" property="userName" />
	    <result column="phone_number" property="phoneNumber" />
	    <result column="password" property="password" />
	    <result column="email" property="email" />
	    <result column="company_id" property="companyId" />
	    <result column="company_name" property="companyName" />
  </resultMap>
  <resultMap id="ResultListMap" type="com.hww.es.pojo.ucenter.UcenterUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER"/>
    <association  column="role_id" property="role" javaType="com.hww.es.pojo.ucenter.UcenterRole">
    	<id column="r_id" property="id" jdbcType="INTEGER"/>
    	<result column="role_name" property="roleName" jdbcType="VARCHAR"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, phone_number, password, email, company_id, create_time, update_time, 
    role_id, state
  </sql>
  <select id="findUserByName" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select count(id) from ucenter_user where user_name = #{userName,jdbcType=VARCHAR}
  </select>
  <select id="getUcenterUser" resultMap="BaseResultMap" parameterType="com.hww.es.pojo.ucenter.UcenterUser">
  	select 
    <include refid="Base_Column_List" />
    from ucenter_user where 
    <if test="email!=null">
    	email = #{email,jdbcType=VARCHAR} and  password = #{password,jdbcType=VARCHAR}
    </if>
    <if test="phoneNumber!=null">
    	phone_number = #{phoneNumber,jdbcType=VARCHAR} and  password = #{password,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectList" resultMap="BaseResultMap" parameterType="com.hww.es.pojo.ucenter.UcenterUser">
  	select 
    <include refid="Base_Column_List" />
    from ucenter_user where 1=1
    <if test="userName != null and userName != ''">
    	and user_name LIKE CONCAT('%',#{userName},'%')
    </if>
    <if test="roleId != null and roleId != ''">
    	and role_id = #{roleId,jdbcType=INTEGER}
    </if>
    order by update_time desc
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ucenter_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ucenter_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hww.es.pojo.ucenter.UcenterUser" >
    insert into ucenter_user (id, user_name, phone_number, 
      password, email, company_id, 
      create_time, update_time, role_id, 
      state)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{roleId,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hww.es.pojo.ucenter.UcenterUser" >
    insert into ucenter_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hww.es.pojo.ucenter.UcenterUser" >
    update ucenter_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hww.es.pojo.ucenter.UcenterUser" >
    update ucenter_user
    set user_name = #{userName,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      role_id = #{roleId,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updatePassById" parameterType="com.hww.es.pojo.ucenter.UserPass">
  	update ucenter_user
    set 
      password = #{password1,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER} and password = #{password,jdbcType=VARCHAR}
  </update>
  <select id="selectById" parameterType="Long" resultMap="UCenterUserDTO">
		select 
			id,user_name,phone_number,email,company_id,company_name 
		from
			 ucenter_user
		inner join ucenter_company on ucenter_user.company_id = ucenter_company.id
		where 
			ucenter_user.id = #{id}
	</select>
	
	<select id="selectUser" parameterType="UCenterUser" resultMap="UCenterUserDTO">
		select 
			ucenter_user.id,user_name,phone_number,email,company_id,company_name 
		from
			 ucenter_user
		inner join ucenter_company on ucenter_user.company_id = ucenter_company.id
		where 
			ucenter_user.phone_number = #{phoneNumber} and 
			ucenter_user.`password` = #{password}
	</select>
  <delete id="delete" parameterType="Long">
		delete from ucenter_user 
		where
			id = #{id}
	</delete>
	
	<select id="selectCompanyUser" parameterType="long" resultType="UcenterUser" >
		select id ,user_name as userName from ucenter_user where company_id = #{companyId}
	</select>
</mapper>