<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hww.es.mapper.WarningHistroyMapper" >

	<resultMap id="BaseResultMap" type="WarningHistroy" >
		<id column="id" property="id" />
		<result column="url" property="url"  />
	    <result column="title" property="title"  />
	    <result column="content" property="content"  />
	    <result column="source" property="source"  />
	    <result column="attribute" property="attribute"  />
	    <result column="warning_task_id" property="warningTaskId" /> 
	    <result column="warning_taks_name" property="warningTaksName" /> 
	    <result column="warning_time" property="warningTime" /> 
	</resultMap>

	<select id="getList" parameterType="Long" resultMap="BaseResultMap">
		SELECT
			url,title,content,source,attribute,warning_task_id,warning_task_name,DATE_FORMAT(warning_time, '%Y-%c-%d %h:%i') as warning_time
		FROM
			warning_history
		WHERE
			warning_task_id = #{taskId}
	</select>
	
	<delete id="deleteByTaskId" parameterType="Long">
		delete from warning_history where warning_task_id = #{taskId}
	</delete>
</mapper>