<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hww.es.mapper.WebReportsMapper" >
  <resultMap id="BaseResultMap" type="com.hww.es.pojo.WebReports" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="abstracts" property="abstracts" jdbcType="VARCHAR" />
    <result column="authors" property="authors" jdbcType="VARCHAR" />
    <result column="report_type" property="reportType" jdbcType="VARCHAR" />
    <result column="is_read" property="isRead" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="doc_url" property="docUrl" jdbcType="VARCHAR" />
    <result column="doc_type" property="docType" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="sending_time" property="sendingTime" jdbcType="TIMESTAMP" />
    <result column="num" property="num" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="BaseResultUserMap" type="com.hww.es.pojo.WebReports" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="abstracts" property="abstracts" jdbcType="VARCHAR" />
    <result column="authors" property="authors" jdbcType="VARCHAR" />
    <result column="report_type" property="reportType" jdbcType="VARCHAR" />
    <result column="is_read" property="isRead" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="doc_url" property="docUrl" jdbcType="VARCHAR" />
    <result column="doc_type" property="docType" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="sending_time" property="sendingTime" jdbcType="TIMESTAMP" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, abstracts, authors, report_type, is_read, user_id, doc_url, doc_type, 
    state, sending_time, num
  </sql>
  <select id="getListSearch" resultMap="BaseResultUserMap" parameterType="com.hww.es.pojo.WebReports">
  	select 
    w.*,u.user_name
    from web_reports w,ucenter_user u where w.user_id = u.id
    <if test="title != null and title !='' ">
		and w.title like CONCAT('%',#{title},'%')
	</if>
	<if test="authors != null and authors !='' ">
		and w.authors like CONCAT('%',#{authors},'%' )
	</if>
    <if test="reportType != null and reportType != '' ">
       and w.report_type = #{reportType}
    </if>
    <if test="isRead != null and isRead != '' ">
       and w.is_read = #{isRead}
    </if>  
    <if test="endtTime != null and startTime != null and startTime != '' and endtTime != '' " >
     	and w.sending_time between DATE_FORMAT(#{startTime},"%Y-%m-%d") and DATE_FORMAT(#{endtTime},"%Y-%m-%d")
    </if>
    <if test="userId != null and userId != '' ">
    	and u.company_id = (select a.company_id  from ucenter_user a  where a.id = #{userId})
    </if>
     order by w.sending_time desc
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from web_reports
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from web_reports
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hww.es.pojo.WebReports" >
    insert into web_reports (id, title, abstracts, 
      authors, report_type, is_read, 
      user_id, doc_url, doc_type, 
      state, sending_time, num
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{abstracts,jdbcType=VARCHAR}, 
      #{authors,jdbcType=VARCHAR}, #{reportType,jdbcType=VARCHAR}, #{isRead,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{docUrl,jdbcType=VARCHAR}, #{docType,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{sendingTime,jdbcType=TIMESTAMP}, #{num,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hww.es.pojo.WebReports" >
    insert into web_reports
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="abstracts != null" >
        abstracts,
      </if>
      <if test="authors != null" >
        authors,
      </if>
      <if test="reportType != null" >
        report_type,
      </if>
      <if test="isRead != null" >
        is_read,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="docUrl != null" >
        doc_url,
      </if>
      <if test="docType != null" >
        doc_type,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="sendingTime != null" >
        sending_time,
      </if>
      <if test="num != null" >
        num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="abstracts != null" >
        #{abstracts,jdbcType=VARCHAR},
      </if>
      <if test="authors != null" >
        #{authors,jdbcType=VARCHAR},
      </if>
      <if test="reportType != null" >
        #{reportType,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null" >
        #{isRead,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="docUrl != null" >
        #{docUrl,jdbcType=VARCHAR},
      </if>
      <if test="docType != null" >
        #{docType,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="sendingTime != null" >
        #{sendingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hww.es.pojo.WebReports" >
    update web_reports
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="abstracts != null" >
        abstracts = #{abstracts,jdbcType=VARCHAR},
      </if>
      <if test="authors != null" >
        authors = #{authors,jdbcType=VARCHAR},
      </if>
      <if test="reportType != null" >
        report_type = #{reportType,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null" >
        is_read = #{isRead,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="docUrl != null" >
        doc_url = #{docUrl,jdbcType=VARCHAR},
      </if>
      <if test="docType != null" >
        doc_type = #{docType,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="sendingTime != null" >
        sending_time = #{sendingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hww.es.pojo.WebReports" >
    update web_reports
    set title = #{title,jdbcType=VARCHAR},
      abstracts = #{abstracts,jdbcType=VARCHAR},
      authors = #{authors,jdbcType=VARCHAR},
      report_type = #{reportType,jdbcType=VARCHAR},
      is_read = #{isRead,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      doc_url = #{docUrl,jdbcType=VARCHAR},
      doc_type = #{docType,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      sending_time = #{sendingTime,jdbcType=TIMESTAMP},
      num = #{num,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>