<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hww.es.mapper.WebSiteSourceMapper" >
  <resultMap id="BaseResultMap" type="com.hww.es.pojo.websource.WebSiteSource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="site_en_name" property="siteEnName" jdbcType="VARCHAR" />
    <result column="site_cn_name" property="siteCnName" jdbcType="VARCHAR" />
    <result column="site_url" property="siteUrl" jdbcType="VARCHAR" />
    <result column="site_status" property="siteStatus" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="note_msg" property="noteMsg" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hww.es.pojo.websource.WebSiteSource" extends="BaseResultMap" >
    <result column="site_demand" property="siteDemand" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, site_en_name, site_cn_name, site_url, site_status, create_date, update_date, 
    user_id, note_msg
  </sql>
  <sql id="Blob_Column_List" >
    site_demand
  </sql>
  <select id="selectPageList" resultMap="ResultMapWithBLOBs">
  	select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from web_site_source order by create_date desc
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from web_site_source
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from web_site_source
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hww.es.pojo.websource.WebSiteSource" >
    insert into web_site_source (id, site_en_name, site_cn_name, 
      site_url, site_status, create_date, 
      update_date, user_id, note_msg, 
      site_demand)
    values (#{id,jdbcType=INTEGER}, #{siteEnName,jdbcType=VARCHAR}, #{siteCnName,jdbcType=VARCHAR}, 
      #{siteUrl,jdbcType=VARCHAR}, #{siteStatus,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, #{noteMsg,jdbcType=VARCHAR}, 
      #{siteDemand,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hww.es.pojo.websource.WebSiteSource" >
    insert into web_site_source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="siteEnName != null" >
        site_en_name,
      </if>
      <if test="siteCnName != null" >
        site_cn_name,
      </if>
      <if test="siteUrl != null" >
        site_url,
      </if>
      <if test="siteStatus != null" >
        site_status,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="noteMsg != null" >
        note_msg,
      </if>
      <if test="siteDemand != null" >
        site_demand,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="siteEnName != null" >
        #{siteEnName,jdbcType=VARCHAR},
      </if>
      <if test="siteCnName != null" >
        #{siteCnName,jdbcType=VARCHAR},
      </if>
      <if test="siteUrl != null" >
        #{siteUrl,jdbcType=VARCHAR},
      </if>
      <if test="siteStatus != null" >
        #{siteStatus,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="noteMsg != null" >
        #{noteMsg,jdbcType=VARCHAR},
      </if>
      <if test="siteDemand != null" >
        #{siteDemand,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hww.es.pojo.websource.WebSiteSource" >
    update web_site_source
    <set >
      <if test="siteEnName != null" >
        site_en_name = #{siteEnName,jdbcType=VARCHAR},
      </if>
      <if test="siteCnName != null" >
        site_cn_name = #{siteCnName,jdbcType=VARCHAR},
      </if>
      <if test="siteUrl != null" >
        site_url = #{siteUrl,jdbcType=VARCHAR},
      </if>
      <if test="siteStatus != null" >
        site_status = #{siteStatus,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="noteMsg != null" >
        note_msg = #{noteMsg,jdbcType=VARCHAR},
      </if>
      <if test="siteDemand != null" >
        site_demand = #{siteDemand,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hww.es.pojo.websource.WebSiteSource" >
    update web_site_source
    set site_en_name = #{siteEnName,jdbcType=VARCHAR},
      site_cn_name = #{siteCnName,jdbcType=VARCHAR},
      site_url = #{siteUrl,jdbcType=VARCHAR},
      site_status = #{siteStatus,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      note_msg = #{noteMsg,jdbcType=VARCHAR},
      site_demand = #{siteDemand,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hww.es.pojo.websource.WebSiteSource" >
    update web_site_source
    set site_en_name = #{siteEnName,jdbcType=VARCHAR},
      site_cn_name = #{siteCnName,jdbcType=VARCHAR},
      site_url = #{siteUrl,jdbcType=VARCHAR},
      site_status = #{siteStatus,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      note_msg = #{noteMsg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>