<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hww.es.mapper.WebTypeMapper" >
  
	<resultMap id="BaseResultMap" type="WebType" >
	    <id column="id" property="id" />
	    <result column="title" property="title" />
	    <result column="company_id" property="companyId" />
	</resultMap>  
	
	<select id="selectSourceIdListBySourceTypeIdList" parameterType="java.util.List" resultType="String">
		select 
			distinct source_id 
		from 
			web_source_m_type 
		where type_id in
			<foreach collection="list" open=" (" separator="," close=")" item="item"  >
	    		#{item}
	    	</foreach>
	</select>
	<insert id="insert" parameterType= "WebType">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			select LAST_INSERT_ID()
		</selectKey> 
		insert into web_type (
			company_id, 
			title)
		values ( 
			#{companyId}, 
      		#{title})
	</insert>

	<insert id="insertSourceIdType" parameterType= "Map">
		insert into web_source_m_type (
			source_id, 
			type_id)
		values ( 
			#{sourceId}, 
      		#{typeId})
	</insert>
	<delete id="delete" parameterType= "Long">
		delete from web_type where id= #{id}
	</delete>
	<delete id="deleteSourceIdType" parameterType= "Long">
		delete from web_source_m_type where type_id= #{typeId}
	</delete>
	
	<select id="selectWebTypeListByCompanyId" parameterType= "Long" resultMap="BaseResultMap">
		select id,title from web_type where company_id=#{companyId}
	</select>
	
</mapper>